
// .destinations-card-wrap{
//   display: flex;
//   flex-flow: row wrap;
//   justify-content: space-between;
// }
.destination-cards{
  //width: 20rem;
	img.card-img-top{
		background: url("../images/destination_images/protea_hotels_thumb.jpg") no-repeat;
		width: 100%;
		height: 12rem;
	}
}
