$global-edge-margin:	30px;


/* INSTALLED FONTS
-------------------------------------------------- */
$raleway-bold			:	'ralewaybold';
$raleway-extra-bold		:	'ralewayextrabold';
$raleway-light			:	'ralewaylight';
$raleway				:	'ralewayregular';
$raleway-thin			:	'ralewaythin';	