$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap/scss/bootstrap-flex.scss";
@import "bower_components/font-awesome/scss/font-awesome.scss";
@import "bower_components/sass-css3-mixins/css3-mixins.scss";
@import "bower_components/bootstrap-daterangepicker/daterangepicker.scss";
@import "bower_components/include-media/dist/include-media";
// endbower

// Import Partials
@import "functions";
@import "fonts";
@import "variables";
@import "mixins";
@import "base";
@import "layout";
//

// Plug in include-media to BS4 grid breakpoints map
$breakpoints: $grid-breakpoints;


.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


