  <div class="destination-card card">
      <a href="destination-profile.html">
        <img class="card-img-top" data-src="...">
        <div class="card-block">
          <h4 class="card-title">Destination title</h4>
          <p class="card-text">Destination address</p>
          <hr>
          <i class="fa fa-heart">
            <small>213</small>
          </i>
          <ul class="tags xs-pull-right">
            <li><small>#mountain climbing</small></li>
            <li><small>#beach fun</small></li>
          </ul>
        </div>
      </a>
      <div class="card-footer text-muted">
        <i class="fa fa-share pull-xs-left" alt="Share"></i>
        <i class="fa fa-bookmark pull-xs-right" alt="Save location"></i>
      </div>
  </div>
