<!-- Top Nav -->
      <nav class="navbar navbar-full" role="main-nav">
        <a href="#" class="navbar-brand">
          <img src="images/xandha_logo.svg" alt="">
        </a>
        <button type="button" class="btn btn-secondary pull-xs-right hidden-sm-down">Sign Up</button>
        <button type="button" class="btn btn-primary pull-xs-right hidden-sm-down">Log in</button>
        <button class="navbar-toggler pull-xs-right hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
          &#9776;
        </button>
      </nav><!-- End of Top Nav -->