<!-- Top Nav -->
    <nav class="navbar navbar-full" role="alt-nav">
      <a href="#" class="navbar-brand">
        <!--<img src="images/xandha_logo.svg" alt="">-->
        Xandha
      </a>
      <ul class="nav navbar-nav pull-xs-left hidden-md-down">
          <li class="nav-item active">
            <a class="nav-link" href="#/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#/destinations">Destinations <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Packages</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Tourism Mart</a>
          </li>
        </ul>
      <button type="button" class="btn btn-secondary pull-xs-right hidden-sm-down">Sign Up</button>
      <button type="button" class="btn btn-primary pull-xs-right hidden-sm-down">Log in</button>
      <button class="navbar-toggler pull-xs-right hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
        &#9776;
      </button>
    </nav><!-- End of Top Nav -->

    <div class="page-header">
      <h2>Destinations</h2>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 filter-space">
          <form>
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <div class="input-group">
                  <input type="text" class="form-control form-control-lg col-xs-12" placeholder="Enter any location or an activity" aria-describedby="basic-addon2">
                  <span class="input-group-addon" id="basic-addon2"><i class="fa fa-search fa-2x"></i></span>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="col-xs-12">
          <div class="card-columns">
              <div class="destination-card card">
                  <a href="destination-profile.html">
                    <img class="card-img-top" data-src="...">
                    <div class="card-block">
                      <h4 class="card-title">Destination title</h4>
                      <p class="card-text">Destination address</p>
                      <hr>
                      <i class="fa fa-heart">
                        <small>213</small>
                      </i>
                      <ul class="tags xs-pull-right">
                        <li><small>#mountain climbing</small></li>
                        <li><small>#beach fun</small></li>
                      </ul>
                    </div>
                  </a>
                  <div class="card-footer text-muted">
                    <i class="fa fa-share pull-xs-left" alt="Share"></i>
                    <i class="fa fa-bookmark pull-xs-right" alt="Save location"></i>
                  </div>
              </div>

              <div class="destination-card card">
                  <a href="destination-profile.html">
                    <img class="card-img-top" data-src="...">
                    <div class="card-block">
                      <h4 class="card-title">Destination title</h4>
                      <p class="card-text">Destination address</p>
                      <hr>
                      <i class="fa fa-heart">
                        <small>213</small>
                      </i>
                      <ul class="tags xs-pull-right">
                        <li><small>#mountain climbing</small></li>
                        <li><small>#beach fun</small></li>
                      </ul>
                    </div>
                  </a>
                  <div class="card-footer text-muted">
                    <i class="fa fa-share pull-xs-left" alt="Share"></i>
                    <i class="fa fa-bookmark pull-xs-right" alt="Save location"></i>
                  </div>
              </div>
          
              <div class="destination-card card">
                  <a href="destination-profile.html">
                    <img class="card-img-top" data-src="...">
                    <div class="card-block">
                      <h4 class="card-title">Destination title</h4>
                      <p class="card-text">Destination address</p>
                      <hr>
                      <i class="fa fa-heart">
                        <small>213</small>
                      </i>
                      <ul class="tags xs-pull-right">
                        <li><small>#mountain climbing</small></li>
                        <li><small>#beach fun</small></li>
                      </ul>
                    </div>
                  </a>
                  <div class="card-footer text-muted">
                    <i class="fa fa-share pull-xs-left" alt="Share"></i>
                    <i class="fa fa-bookmark pull-xs-right" alt="Save location"></i>
                  </div>
              </div>
        
              <div class="destination-card card">
                  <a href="destination-profile.html">
                    <img class="card-img-top" data-src="...">
                    <div class="card-block">
                      <h4 class="card-title">Destination title</h4>
                      <p class="card-text">Destination address</p>
                      <hr>
                      <i class="fa fa-heart">
                        <small>213</small>
                      </i>
                      <ul class="tags xs-pull-right">
                        <li><small>#mountain climbing</small></li>
                        <li><small>#beach fun</small></li>
                      </ul>
                    </div>
                  </a>
                  <div class="card-footer text-muted">
                    <i class="fa fa-share pull-xs-left" alt="Share"></i>
                    <i class="fa fa-bookmark pull-xs-right" alt="Save location"></i>
                  </div>
              </div>
        

              <div class="destination-card card">
                <a href="destination-profile.html">
                  <img class="card-img-top" data-src="...">
                  <div class="card-block">
                    <h4 class="card-title">Destination title</h4>
                    <p class="card-text">Destination address</p>
                    <hr>
                    <i class="fa fa-heart">
                      <small>213</small>
                    </i>
                    <ul class="tags xs-pull-right">
                      <li><small>#mountain climbing</small></li>
                      <li><small>#beach fun</small></li>
                    </ul>
                  </div>
                </a>
                <div class="card-footer text-muted">
                  <i class="fa fa-share pull-xs-left" alt="Share"></i>
                  <i class="fa fa-bookmark pull-xs-right" alt="Save location"></i>
                </div>
            </div>    
          </div>
        </div>
        <div class="col-xs-12 footer-block">
              <button class="btn btn-secondary btn-lg">See More...</button>
        </div>
      </div>
    </div>